body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.tariffs-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  flex-wrap: wrap;
  padding: 20px;
}
h1 {
  text-align: center;
}
