body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: gray;
}

.heroes-gallery {
  &__content-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
  }

  &__title {
    font-size: 2.4rem;
    color: #9e2626;
    font-style: italic;
    text-align: center;
    margin-bottom: 30px;
  }

  &__gallery-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  &__gallery {
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 2fr));
    gap: 20px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 180px;
    max-height: 400px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #efe6e6;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-6px);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    }

    span {
      font-weight: bold;
      color: #4b8fcc;
    }

    p {
      font-size: 0.85rem;
      color: #343333;
      margin: 0;
    }

    &-title {
      font-size: 1.2rem;
      color: #676363;
      text-align: center;
      margin: 0;
    }

    &-image img {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      object-fit: cover;
      margin-bottom: 30px;
      cursor: pointer;
      transition: transform 0.8s ease-in-out, box-shadow 0.8s ease-in-out;
      z-index: 4;
    }
  }
}
